In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
car = pd.read_csv('car_data.csv')

In [3]:
car.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [34]:
car = car.replace('Male', 1)
car = car.replace('Female', 0)

In [66]:
a_max = np.max(car['Age'].to_numpy())

In [67]:
car['Age'] = car['Age']/a_max

In [23]:
Y = car[['Purchased']]

In [68]:
X = car[['Gender','Age', 'AnnualSalary']]

In [69]:
print(X)

     Gender       Age  AnnualSalary
0         1  0.555556         20000
1         1  0.634921         43500
2         1  0.777778         74000
3         1  0.634921        107500
4         1  0.396825         79000
..      ...       ...           ...
995       1  0.603175         59000
996       0  0.746032         23500
997       0  0.444444        138500
998       0  0.761905        134000
999       0  0.698413         73500

[1000 rows x 3 columns]

In [37]:
print(Y)

     Purchased
0            0
1            0
2            0
3            1
4            0
..         ...
995          0
996          0
997          1
998          1
999          0

[1000 rows x 1 columns]

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                    test_size = 0.25, random_state = 42)

In [57]:
from sklearn.linear_model import LogisticRegression
reg_model = LogisticRegression(max_iter = 1000)

In [58]:
reg_model.fit(X_train, Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=1000)

In [59]:
preds = reg_model.predict(X_test)

In [60]:
print(preds)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [50]:
Result = pd.DataFrame({'Actual':Y_test.to_numpy().reshape(200), 'Predicted':preds})

In [53]:
Result.head(20)

    Actual  Predicted
0        0          0
1        1          0
2        0          0
3        1          0
4        0          0
5        1          0
6        1          0
7        0          0
8        0          0
9        0          0
10       0          0
11       0          0
12       0          0
13       0          0
14       1          0
15       1          0
16       0          0
17       1          0
18       1          0
19       0          0

In [61]:
from sklearn.metrics import accuracy_score

score = accuracy_score(Y_test, preds)
print(score)

0.552